/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #e8dcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
}

.container {
  background-color: #d0bfbf;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 7px 2px 8px rgb(10 10 10 / 33%);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

h1 {
  color: #464444;
  margin-bottom: 20px;
}

.input2 {
  margin-bottom: 15px;
}

.input3 {
  width: 80%;
  padding: 10px;
  border-radius: 4px;

}

.btn2 {
  background-color: #565050;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
}

.image {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.image div {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  text-align: center;
  width: 100%;
  max-width: 300px;
}